@{
    ViewData["Title"] = "About";
}
<article>
<div class="row">
    <div class="col-sm-8">
        <h2>Monster Hunters R US</h2>
        <h3>For all your monster needs</h3>
    </div>
    <img src="~/Images/fullmoon.jpg" alt="Full moon" style="=width:25%;outline:5px gray solid; outline-offset:5px;float:right;margin-top:5%;"/>
    <div class="row">
        <div class="col-sm-4 text-black">
            <h2>About the company</h2>
            <p>
            Whether it be monstrous animatronics or baba yaga lurking in your backyard we have the solutions<br />
            Professional monster hunters here ready and able to help all your monster needs.<br />
            Just reach out to us and we will fix all your issues.<br />
            </p>
        </div>
    </div>
</div>
</article>