@{
    ViewData["Title"] = "Contact";
}

<div class="row">
    <div class="col-sm-8">
        <h2>Monster Hunters R US</h2>
        <h3>Headquarters</h3>
    <address>
        1313 Tombstone Dr.<br/>
        Hell, Michigan 48169<br />
        <abbr title="Phone"><i class="fa fa-mobile" style="font-size:24px"></abbr>
            1.800.666.6666
    </address>
    </div>
    <img src="~/Images/womanOnPhone.jpg" alt="woman on the phone" style="=width:25%;outline:5px gray solid; outline-offset:5px;float:right;margin-top:5%;"/>
    <div class="row">
        <div class="col-sm-4 text-black">
            <h2>Reaching out to the hunters</h2>
            <p>
            Here is the way to reach out to the various monster hunters<br />
            </p>
        </div>
    </div>
</div>
