@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <h1 class="col-sm-12">Home</h1>
</div>
<div class="row">
    <div class="col-sm-4 text-black">
        <h2>Monster hunting Agency</h2>
        <p>
            The monster hunter agency is proud to serve those seeking all of their monster related issues ranging from<br />
            -Ghosts<br />
            -Ghouls<br />
            -goblins(their cousins carry an extra fee)<br />
            -Cigarette smoke(The fact it smells as it does make it rather monstrous)<br />
            -all other creatures that goes bump in the night.<br />
        </p>
    </div>

</div>
