@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    <i class="fa fa-user-secret"></i>The monster hunters group reserves the right to deny any monster hunt
    especially those individuals that repeatedly prank call us
</p>
